/Prediction based on convolutional neural network/code/.idea/
/Prediction based on convolutional neural network/worklog/*.docx
/reference/BN/hwalsuklee_tensorflow-mnist-cnn/model/
/reference/BN/hwalsuklee_tensorflow-mnist-cnn/logs/