*.pyc
*/.ipynb_checkpoints/
/Prediction based on convolutional neural network/code/.idea/
/Prediction based on convolutional neural network/worklog/*.docx
/Prediction based on convolutional neural network/code/reference/BN/hwalsuklee_tensorflow-mnist-cnn/model/
/Prediction based on convolutional neural network/code/reference/BN/hwalsuklee_tensorflow-mnist-cnn/logs/